body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

#header {
    width: 100%;
    height: 80px;
    background-color: rgb(80, 80, 200);
    color: white;
    position: fixed;
    top: 0;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    z-index: 10;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

#side_panel {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    padding-top: 100px;
    z-index: 5;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab_links {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.tab_links:hover {
    background-color: #ddd;
}

.tab_links.active {
    background-color: #6E6ED7;
    color: white;
}

.tab_content {
    display: none;
    padding: 6px 12px;
    border-top: none;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    grid-row-gap: 40px;
}

#content_container {
    width: 90%;
    margin-left: 10%;
    padding-top: 120px; 
}

.action_card {
    width: 200px;
    height: 220px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    text-align: center;
    border-radius: 20px;
}

.action_card:hover {
    border: none;
    box-shadow: 0px 56px 142px -54px rgba(0, 0, 0, 0.75);
}

.action_card_inactive {
    width: 200px;
    height: 220px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    text-align: center;
    border-radius: 20px;
    background-color: rgb(170, 170, 170);
}

.action_illustration {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-left: 70px;
    background-color: rgb(110, 110, 215);
}

#window_filter {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 0.5;
    z-index: 10;
    display: none;
}

#action_window {
    position: fixed;
    top: 22%;
    left: 19%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
    background-color: white;
    z-index: 15;
    display: none;
    border-radius: 20px;
}

#action_submit {
    background-color: rgb(46, 122, 236);
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    float: right;
    margin-top: 25px;
}

#action_submit:hover {
    background-color: rgb(25, 98, 206);
}

#action_window_content input {
    padding: 5px;
    margin: 5px;
    width: 80%;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#action_window_content select {
    padding: 5px;
    margin: 5px;
    width: 80%;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background: none;
}

select > option {
    width: 50px;
}